.signIn-container{
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 200px;
    position: absolute;
    top:40%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(255, 255, 255,0.3);
    background: linear-gradient(45deg, #e66465, #9198e5);

    .vertical-line{
        height: 180px;
        border-left: 2px solid gray;
        margin: 0px;
         position: absolute;
        top: 10px;
    }
    
    & .credentials-container{
        display: flex;
        flex-direction: column;       
        gap: 10px;        
    }

    & .register-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

input{
    border: 0px;
    border-radius: 3px;
    width: 150px;
    background-color: whitesmoke;
}

button{
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid white;
    height: 30px;
    background: linear-gradient(45deg, #e66465, #9198e5);

    &:hover{
        background: #9198e5;
    }
}