.signIn-container{
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: auto;
    position: absolute;
    top:40%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    background: linear-gradient(45deg, #e66465, #9198e5);
}

